.login-form {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
}

.login-form__label {

}

.login-form__input {

}

.login-form__error {
  display: block;
  color: red;
}

.login-form__submit {

}
